@model Domain.Person;

@{
    ViewData["Title"] = "Update";
}

<div>
    <button>
        <a asp-action="Index">To list</a>
    </button>
</div>

<div>
    <h2>Id: @Model.Id</h2>

    <form method="post">
        <div>
            <input type="hidden" value="@Model.Id" name="Id" />
        </div>
        <div>
            <p>First name:</p>
            <input value="@Model.FirstName" asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <p>Last name:</p>
            <input value="@Model.LastName" asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <p>Age:</p>
            <input type="number" value="@Model.Age" asp-for="Age" />
            <span asp-validation-for="Age"></span>
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
</div>
